body {
  background-color: #646262;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #003a46;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 600px;
  height: 500px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  margin-bottom: 100px;
}
